{% extends 'base.html.twig' %}
{% block title %}New user · Admin{% endblock %}
{% block body %}
<div class="container" style="max-width: 640px;">
  <h1 class="mb-3"><i class="bi bi-person-plus"></i> New user</h1>
  {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.fullName) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    {{ form_row(form.roles) }}
    <button class="btn btn-primary" type="submit">Create user</button>
    <a class="btn btn-link" href="{{ path('app_admin_user_index') }}">Cancel</a>
  {{ form_end(form) }}
</div>
{% endblock %}
